body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.blogs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading h2{
    font-size: 25px;
    color: pink;
    

}