*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family:'Times New Roman', Times, serif;
        color: rgb(238, 145, 161);
        font-size: larger;
        background: url("./Images/blogbackground.jpg");
        background-size: cover;
        height: 100vh;
    }

body{
    margin: 2px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.blogs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading h2{
    font-size: 25px;
    color: rgb(232, 130, 147);
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap:wrap;
    border: 1px pink;
    border-radius: 30px;
    flex-wrap: wrap;
    align-content: stretch;
    height: 70vh;
}

.blog-box{
    width: 350px;
    background-color: #eadfcb;
    border: 3.5px solid hotpink;
    margin: 20px;
    border-radius: 20px;
    height: 100%;
    overflow: hidden;
    }
    
    .blog-image{
     width:auto;  
     height: 40vh; 
     padding:0px;
     border: hotpink;
     display: flex;
    }
    
    .blog-image img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    }
    
    .blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    }
    
    .blog-text span{
    color: black;
    font-size: 0.9rem;
    }
    
    .blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
    }
    
    .blog-text .blog-title:hover{
    color: hotpink;
    transition: all ease 0.3s;
    }
    
    .blog-text p{
    color:rgb(239, 124, 143);
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    }
    
    .blog-text a{
    color: black;
    }
    
    .blog-text a:hover{
    color:hotpink;
    transition: all ease 0.3s;
    }

    ul{
        text-align: center;
        margin-top: 600px;
    }

    footer {
        text-align: center;
        font-size: 12px;
        letter-spacing: 2px;
        margin-top: 100px;
    }



