body {
    font-family:'Times New Roman', Times, serif;
    color: rgb(238, 145, 161);
    font-size: larger;
    background: url(/Images/newer\ homepage.jpeg) no-repeat ;
    background-size: cover;
    height: 100vh;
}
