body {
    font-family:'Times New Roman', Times, serif;
    background-image: url("./Images/homepagefinal.jpeg") no-repeat;
    background-size: cover;
    height: 100vh;
}

footer {
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
}

.about-me {
    text-align: center;
    margin-top: 470px;
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    max-width: 100%;
}
