nav{
    background-color:none;
    height: 2.5cm;
    width: 100%;
    position: sticky;
    margin-bottom: 70px ;
}

nav ul{
    font-family:'Playfair Display', serif ;
    color: red;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 0px solid #ffd0df;
}


nav ul li{
    font-style: italic;
    color: red;
    display:inline-block;
    font-size: 23px;
    margin: 30px;
    margin-bottom: 8px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.hover-oval.active-link{
background-color:rgb(255, 212, 212);
border: 2px solid #ffd0df;
border-radius: 999px;
}


.menulinks a{
    color: red;
    text-decoration: none;
}

.hover-oval{ display: inline-block;
padding: 8px 16px;
text-decoration: none;
color: none;
transition: all 0.3s ease;

}

.hover-oval:hover {
    background-color: #ffd0df;
    border: 2px solid #ffd0df;
    border-radius: 999px;
}

footer {
    color: red;
    padding: 30px 0;
    text-align: center;
}
                                                                    
.footer-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
}

footer a {
    color: #ccc;
    text-decoration: none;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}