nav{
    background-color: none;
    height: 60px;
    width: 100%;
    border-top: 2px #ffd0df;
    position: sticky;
}

nav ul{
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 0px solid #ffd0df;
}


nav ul li{
    display: inline-block;
    font-size: 25px;
    margin: 30px;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    text-align: center;

.hover-oval.active-link{
background-color: #ffd0df;
border: 2px solid #ffd0df;
border-radius: 999px;
}


.menulinks a{
    color: black;
    text-decoration: none;
}

.hover-oval{ display: inline-block;
padding: 8px 16px;
text-decoration: none;
color: none;
transition: all 0.3s ease;
}

.hover-oval:hover {
    background-color: #ffd0df;
    border: 2px solid #ffd0df;
    border-radius: 999px;
}

footer {
    color: white;
    padding: 2px 0;
    text-align: left;
}
                                                                    
.footer-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
}

footer a {
    color: #ccc;
    text-decoration: none;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

}