*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: hotpink;
    font-size: larger;
    background: url("./Images/portfoliobackground.jpg");
    background-size: cover;
    height: 100vh;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
}

footer {
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
}