*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-size:large;
    background-color: #f6eddd;
    background-size: cover;
    height: 100vh;
}

h1{
    font-family:'Times New Roman', Times, serif;
    color: hotpink;
    text-align: center;
    margin-top: 50px;
}

h2{
    font-family:'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-top: 10px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    color: hotpink;
    text-align: center;
    margin-top: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: medium;
    margin-top: 15px;
    margin-left: 8cm;
    margin-right: 8cm;
}

footer {
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 15px;
}

section {
    margin-top: 1cm;
    text-align: center;
}

ul{
    margin-top: 0.8cm;
    margin-bottom: 0.8cm;
    text-align: center;
}
